/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {
    font-family: VerdanaEmbedded;
}

s|VerticalLayout {
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
}

s|WindowedApplication {
    background-color: #505153;
    font-family: VerdanaEmbedded;
    drop-shadow-enabled: true;
    drop-shadow-color: #505153;
    drop-shadow-distance: 5;
}

s|Window {
    background-color: #505153;
}

s|BorderContainer {
    background-color: #505153;
    border-color: #232323;
    border-weight: 2;
}

s|Button {
    font-family: VerdanaEmbedded;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11;
    tracking-right: -0.45;
    accent-color: #505153;
    chrome-color: #959595;
}

s|Label {
    font-family: VerdanaEmbedded;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11;
    tracking-right: -0.25;
}

mx|TabNavigator {
    background-color: #505153;
}


.iFoneCB {
    font-family: VerdanaEmbedded;
    font-size: 16;
    font-weight: bold;
    tracking-right: -0.45;
    color: #000000;
}

.settingsNodeLabel {
    font-family: VerdanaEmbedded;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16;
    tracking-right: -0.45;
}
    

@font-face {
    src: url('/../assets/fonts/verdana.TTF');
    font-family: VerdanaEmbedded;
    font-anti-alias-type:advanced;
    font-weight: normal;
    embed-as-cff: false;
    tracking-right: -0.5;
}

@font-face {
    src: url('/../assets/fonts/Verdana_Bold.TTF');
    font-family: VerdanaEmbedded;
    font-anti-alias-type:advanced;
    font-weight: bold;
    embed-as-cff: false;
    tracking-right: -0.5;
}